stylish.css
.root{
    --variable1: rgb(21, 219, 80);
    --variable2: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

.calculadora{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    width: auto;
    color:var(--variable1);
    font-family: var(--variable2);
}

.calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
    
  }


#resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
  }